﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Add new Group</h1>
@using (Html.BeginForm("Save","Group",FormMethod.Post)) { 
    <input type="hidden" value="@ViewBag.CourseId" name="CourseId"/>
    <div style="display : flex">
        <p>
            Input Group Name
            <input type="text" name="Name" style="height:30px;width:100px;"/>
        </p>
    </div>
    <div style="display : flex">
        <input type="submit" value="Save" style="height:30px;margin-right:15px;"/>
        <button style="height:30px;">@Html.ActionLink("Cancel", "CourseGroups", "Group" , new {id=ViewBag.CourseId })</button>
    </div>
}