﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model != null)
    {
        <h1>@ViewBag.CourseName course groups:</h1>
        foreach (var group in Model)
        {
            <div style="display : flex">
                <p>
                    @group.Name
                    <button style="width: 80px; height: 30px; margin-right: 15px;">@Html.ActionLink("Students", "ShowStudents", "Student", new { id = group.Id }) </button>
                    <button style="width: 80px; height: 30px; margin-right: 15px;">@Html.ActionLink("Edit", "Edit", "Group", new { id = group.Id })</button>
                    <button style="width: 80px; height: 30px; margin-right: 15px;">@Html.ActionLink("Delete", "Delete", "Group", new { id = group.Id })</button>
                </p>
            </div>
            <br>
        }
        <div style="display:flex">
            <button style="width: 120px; height: 30px; margin-right: 15px;">@Html.ActionLink("Add Group", "AddGroup", "Group", new { courseId = ViewBag.CourseId })</button>
            <button style="width: 120px; height: 30px;">@Html.ActionLink("Back to course", "ShowCourse", "Course")</button>
        </div>
    }
    else
    {
        <p>Course do not exist!</p>
        <button style="width: 120px; height: 30px;"> @Html.ActionLink("Back to course", "ShowCourse", "Course")</button>
    }

}
