﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Group"))
{
    if (Model != null)
    {
        <h1>Edit @Model.Name</h1>
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.CourseId" name="CourseId">
        <div style="display : flex">
            <p>
                Write new name
                <input type="text" name="Name" value="@Model.Name" style="width:100px;height:30px;" />
            </p>
        </div>
        <div style="display : flex">
            <input type="submit" value="Save" style="height:30px;margin-right:15px;" />
            <button style="height:30px;">@Html.ActionLink("Cancel", "CourseGroups", "Group", new { id = Model.CourseId })</button>
        </div>
    }
    else
    {
        <p>Group do not exist!</p>
        <button style="width:120px;height:30px;">@Html.ActionLink("Back to course","ShowCourse","Course")</button>
    }


}
