﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new course</h1>
@using (Html.BeginForm("SaveEdit", "Course", FormMethod.Post))
{
    <div style="display : flex">
        <p>
            Input course name:
            <input type="text" name="Name" value="" style="height:30px;width:100px;"/>
        </p>
    </div>
    <div style="display : flex">
        <p>
            Input course description:
            <input type="text" name="Description" value="" style="height:30px;width:100px;"/>
        </p>
    </div>
    <input type="submit" value="Add"  style="height:30px;margin-right:15px;" />
    <button  style="height:30px;">@Html.ActionLink("Cancel","ShowCourse","Course")</button>
}