﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm("SaveEdit", "Course", FormMethod.Post))
    {
        if (Model != null)
        {
            <h2>Edit @Model.Name course</h2>
            <input type="hidden" value="@Model.Id" name="Id" />
            <div style="display : flex ;">
                <p style="font-size:18px">Input new name:<input type="text" name="Name" value="@Model.Name" style="width:100px;height:30px;" /></p>
            </div>
            <div style="display : flex;">
                <p style="font-size:18px;">Input new description:<input type="text" name="Description" value="@Model.Description" style="width:100px;height:30px;" /></p>
            </div>
            <div style="display : flex;">
                <input type="submit" value="Save" style="font-size:20px;margin-right:15px;" />
                <button style="font-size:20px;">@Html.ActionLink("Cancel", "ShowCourse", "Course")</button>
            </div>
        }
        else
        {
            <p>Course do not exist!</p>
            <button style="width:120px;height:30px;">@Html.ActionLink("Back to course","ShowCourse","Course")</button>
        }

    }
