﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Course:</h1>


@{  if (Model != null) { 
        foreach (var course in Model)
        {
        <div style="display : flex">
            <p>
                @course.Name (@course.Description)
                <button style="width:60px;height:30px; margin-right:15px;">@Html.ActionLink("Groups", "CourseGroups", "Group", new { id = course.Id })</button>
                <button style="width: 60px; height: 30px; margin-right: 15px;">@Html.ActionLink("Edit", "EditCourse", "Course", new { id = course.Id })</button>
                <button style="width:60px;height:30px;">@Html.ActionLink("Delete", "DeleteCourse", "Course", new { id = course.Id })</button>
            </p>
        </div>
        <br>
        }
    }
    }     
    <button style="width:120px;height:30px;">@Html.ActionLink("Add new Course", "AddCourse", "Course")</button>


