﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Add new Student</h1>
@using (Html.BeginForm("Save", "Student", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.GroupID" name="GroupID"/>
    <div style="display:flex">
        <p>
            Input first name
            <input type="text" name="FirstName" value="" style="height:30px;width:100px;"/>
        </p>
    </div>
    <div style="display :flex">
        <p>Input last name</p>
        <input type="text" name="LastName" value="" style="height:30px;width:100px;"/>       
    </div>
    <div style="display:flex">
        <input type="submit" value="Save" style="height:30px;margin-right:15px;" />
        <button style="height:30px;">@Html.ActionLink("Cancel", "ShowStudents", "Student" , new {id = ViewBag.GroupID })</button>
    </div>
}