﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Message</h1>
@{ if (Model != null)
    {

        <button>@Html.ActionLink("Go Back", "ShowStudents", "Student", new { id = Model.GroupID })</button>
    }
    else
    {
        <p>Student do not exist!</p>
        <button>@Html.ActionLink("Back to course","ShowCourse","Course")</button>
    }
}