﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Student", FormMethod.Post))
{
    if (Model != null)
    {
        <h1>Edit @Model.FirstName @Model.LastName</h1>
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.GroupID" name="GroupID" />
        <div>
            <div style="display : flex">
                <p>
                    Input new name:
                    <input type="text" name="FirstName" value="@Model.FirstName" style="height:30px;width:100px;" />
                </p>
            </div>

            <div style="display:flex">
                <p>
                    Input new last name:
                    <input type="text" name="LastName" value="@Model.LastName" style="height:30px;width:100px;" />
                </p>
            </div>
        </div>
        <div style="display:flex">
            <input type="submit" value="Save" style="height:30px;margin-right:15px;" />
            <button style="height:30px;">@Html.ActionLink("Cancel", "ShowStudents", "Student", new { id = Model.GroupID })</button>
        </div>
    }
    else
    {
        <p>Student do not exist!</p>
        <button>@Html.ActionLink("Back to course","ShowCourse","Course")</button>
    }

}