﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (Model != null)
    {
        <h1>@ViewBag.GroupName Student</h1>
        foreach (var student in Model)
        {
            <div style="display : flex">
                <p>
                    @student.FirstName @student.LastName
                    <button style="height:30px;width:60px;margin-right:15px;">@Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id })</button>
                    <button style="height:30px;width:60px;">@Html.ActionLink("Delete", "Delete", "Student", new { id = student.Id })</button>
                </p>
            </div>
            <br>

        }
        <div style="display : flex">

            <button style="height:30px;margin-right:15px">@Html.ActionLink("Add new student", "AddNewStudent", "Student", new { groupId = ViewBag.GroupID })</button>
            <button style="height:30px;">@Html.ActionLink("Go back", "CourseGroups", "Group", new { id = ViewBag.CourseId })</button>
        </div>
    }
    else
    {
        <p>Group do not exist!</p>
        <button style="width:120px;height:30px;">@Html.ActionLink("Back to course", "ShowCourse", "Course")</button>
    }

}